*{
    margin: 0; 
    padding: 0; 
    font-family: sans-serif;
}
main{
    min-height: 70vh;
}
.break{
    margin-top: 20px;
}

header{
    background-color:  rgb(200, 224, 232);
}
.logo a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 20px;
}
.logo{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.menu a{
    color: black;
    font-size: 20px;
}
.menu a:hover{
color: white;
}
.menu{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
}

.active{
  text-decoration: underline;
}
h1{
    text-align: center;
    padding: 20px;
}
.container{
    margin-bottom: 30px;
}

.btn{
    margin-top: 10px;
}
.row{
    margin-bottom: 30px;
}
footer p{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
}
footer{
    margin-top: 40px;
    background-color: rgb(200, 224, 232);
    position: relative;
    bottom: 0;
    left:0;
    right: 0;
    padding: 20px;
}
section{
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;
}
.sectionA{
    margin-top: 40px;
}

.sectionB{
  display: grid;
  grid-template-areas: 'bs'
  'mg'
  'pub';
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 50px;
}
.bs, .mg, .pub{
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
    width: 150px;
}
.bs{
    background-color: #8612FB;
}
.bs:hover, .mg:hover, .pub:hover{
    background-color: #a67bd1;
}
.mg{
    background-color: #AE22CB;
}
.pub{
    background-color: #DC94C4;
}
#bsTextarea{
    margin: 10px 0;
}
.pubSec ul{
    margin-left: 20px;
}

@media screen and (min-width: 700px) {
  .sectionB{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  }



